main {
	text-align: center;
}

div {
	background-color: green;
	color: white;
}

.center {
	background-color: pink;
	color: black;
	width: 300px;
	height: 300px;
	margin: 50px auto;
}

img {
	border-radius: 25px;
}